<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/be2_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/be2_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce">
        <activity
            android:name=".logout"
            android:exported="false" />
        <activity
            android:name=".Location"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJ4Yd-ufqUPlE78r80QDxUwMUtW-VGXQA" />

        <activity
            android:name=".SplatScreen2"
            android:exported="false" />
        <activity
            android:name=".PlashScreen"
            android:exported="false" />
        <activity
            android:name=".SignInScreen"
            android:exported="false" />
        <activity
            android:name=".SignUpScreen"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity android:name=".GioHangActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplatScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>